* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

header {
    margin: 32px 100px 50px;

}

.main {
    display: inline-block;

}

.menu {
    margin-right: 30px;
    color: #17233D;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
}

button {
    width: 124px;
   height: 51px;
   border-radius: 10px;
   border: none;
   background-color:  #6FBF44;
   color:#ffff;
   font-size: 15px;
   cursor: pointer;
   
}


img {
    display: inline-block;
    height: 400px;
    width: 500px;
    margin-left: 80px;
    margin-right: 100px;

}

h1 {
    width: 582px;
font-size: 62px;
font-weight: 700;
line-height: 82px;
text-align: left;
color: #161A49;
margin-bottom: 30px;

}

p{
   width: 380px;
   color: #4B505A;
   margin-bottom: 30px;
}

.learn {
font-size: 18px;
font-weight: 500;
line-height: 27px;
color: #6FBF44;
cursor: pointer;

}


@media screen and (max-width:900px) {

    body {
        position: fixed;
    }

    .menu {
    display: none;
    position: fixed;
}
 
main {
    display: table;
    width: 100%;
}

main div:nth-child(1){
display: table-footer-group;

}

.main {
    width: 100%;
    margin: 0;
     padding:0;
     height: 50%;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin: 120px 55px 0 55px;
    width: auto;
    height: 60px;
}
p {
    color: #4B505A;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: auto;
    margin: 28px 43px;
}

img  {
    margin: 0 auto;
    position: static;
    width: 100%;
    padding: 40px;

}



button {
    margin-top: 17px;
    margin-right: 15px;
    display: block;
    position: absolute;
    right: 10px;
    width: 91px;
    height: 31px;
    font-size: 12px;
}

.learn {
    text-align: center;
    width: auto;
    display: block;
    margin-bottom: 19px;
}

}

